$link-primary: blue;
$link-secondary: purple;


$color-1: #71b869;
$color-2: #979797;
$color-3: #303216;
$color-4: #4a90e2;

$background-1: #ebf2e2;

$border-1: #9e9393;

$global-radius: 4px;
